pandas
numpy
pyarrow
fastparquet

kafka-python
pyspark

networkx
pyvis

scikit-learn

streamlit
fastapi
uvicorn

python-jose
passlib[bcrypt]

torch
torchvision
torchaudio

torch-geometric

shap
lime

matplotlib
plotly